In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range('20130101', periods=6)
print(dates)
print(list('ABCD'))
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
['A', 'B', 'C', 'D']
                   A         B         C         D
2013-01-01  0.158916  0.523755  1.149323  0.427991
2013-01-02  0.472939 -0.202143 -0.217318 -0.373081
2013-01-03  1.830112  0.090187 -1.280819 -0.082152
2013-01-04  2.196392 -0.692758  1.841223  0.727856
2013-01-05  0.736004  1.205579 -1.089112 -0.919252
2013-01-06 -0.215169  1.437291  0.517149 -1.296667

In [16]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
print(df2)
print(df2.dtypes)
print(df2.head(3))
print(df2.tail(3))
print(df2.to_numpy())
print(df.describe())
print(df.T)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object
     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
     A          B    C  D      E    F
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
[[1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']]
              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.863199  0.393652  0.153408 -0.252551
std    0.952859  0.823734  1.241868  0.774928
min   -0.215169 -0.692758 -1.280819 -1.296667
25%    0.237422 -0.129061 -0.871164 -0.782709
50%    0.604471  0.306971  0.149915 -0.227617
75%    1.556585  1.035123  0.991280  0.300455
max    2.196392  1.437291  1.841223  0.727856
   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.158916    0.472939    1.830112    2.196392    0.736004   -0.215169
B    0.523755   -0.202143    0.090187   -0.692758    1.205579    1.437291
C    1.149323   -0.217318   -1.280819    1.841223   -1.089112    0.517149
D    0.427991   -0.373081   -0.082152    0.727856   -0.919252   -1.296667

In [36]:
print(df[0:3])
print(df['2013-01-01':'2013-01-01'])
print(df['2013-01-01':])
print(df.loc['2013-01-01'])
print(df.loc['20130102', ['A', 'B']])

                   A         B         C         D
2013-01-01  0.158916  0.523755  1.149323  0.427991
2013-01-02  0.472939 -0.202143 -0.217318 -0.373081
2013-01-03  1.830112  0.090187 -1.280819 -0.082152
                   A         B         C         D
2013-01-01  0.158916  0.523755  1.149323  0.427991
                   A         B         C         D
2013-01-01  0.158916  0.523755  1.149323  0.427991
2013-01-02  0.472939 -0.202143 -0.217318 -0.373081
2013-01-03  1.830112  0.090187 -1.280819 -0.082152
2013-01-04  2.196392 -0.692758  1.841223  0.727856
2013-01-05  0.736004  1.205579 -1.089112 -0.919252
2013-01-06 -0.215169  1.437291  0.517149 -1.296667
A    0.158916
B    0.523755
C    1.149323
D    0.427991
Name: 2013-01-01 00:00:00, dtype: float64
A    0.472939
B   -0.202143
Name: 2013-01-02 00:00:00, dtype: float64

In [49]:
print(df.iloc[2,2])
print(df.iloc[1:5:2])
print(len(df))
print(df.mean(0))

-1.2808185615205108
                   A         B         C         D
2013-01-02  0.472939 -0.202143 -0.217318 -0.373081
2013-01-04  2.196392 -0.692758  1.841223  0.727856
6
A    0.863199
B    0.393652
C    0.153408
D   -0.252551
dtype: float64

In [53]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
print(df)
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.423398  0.571254  0.042464  0.804042
1  0.707245 -2.106985  0.397143  0.488792
2  1.385803 -0.248591  0.402351 -1.583788
3  0.322880 -0.734694  0.375425 -0.602729
4  1.441060 -1.419054  0.178367  0.026997
5 -1.602235  0.366436 -0.892331  0.294473
6 -0.424496 -0.907486 -0.699114  1.515153
7 -1.350324  0.662355 -2.025786 -0.523939

          A         B         C         D
0 -0.423398  0.571254  0.042464  0.804042
1  0.707245 -2.106985  0.397143  0.488792
2  1.385803 -0.248591  0.402351 -1.583788
3  0.322880 -0.734694  0.375425 -0.602729
4  1.441060 -1.419054  0.178367  0.026997
5 -1.602235  0.366436 -0.892331  0.294473
6 -0.424496 -0.907486 -0.699114  1.515153
7 -1.350324  0.662355 -2.025786 -0.523939
8  0.322880 -0.734694  0.375425 -0.602729

In [62]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print(index)
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
print(df)
df.stack()
# df

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])
                     A         B
first second
bar   one     0.697824  1.415522
      two    -0.492320  0.640916
baz   one    -0.027834 -0.099892
      two     0.129821 -0.540378
foo   one     1.260139  0.887034
      two     0.736199 -0.251615
qux   one    -1.264016  1.028809
      two     2.725849 -0.720889

first  second
bar    one     A    0.697824
               B    1.415522
       two     A   -0.492320
               B    0.640916
baz    one     A   -0.027834
               B   -0.099892
       two     A    0.129821
               B   -0.540378
foo    one     A    1.260139
               B    0.887034
       two     A    0.736199
               B   -0.251615
qux    one     A   -1.264016
               B    1.028809
       two     A    2.725849
               B   -0.720889
dtype: float64

In [66]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum()
# ts

2012-01-01    27317
Freq: 5T, dtype: int32

In [70]:
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6],
                   "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})
df["grade"] = df["raw_grade"].astype("category")
df["grade"].cat.categories = ["very good", "good", "very bad"]
df

   id raw_grade      grade
0   1         a  very good
1   2         b       good
2   3         b       good
3   4         a  very good
4   5         a  very good
5   6         e   very bad